<div class="col-md-6 col-sm-6 col-xs-12">
  <h3>
    <%= model["Legislation Title"] %>
  </h3>
  <time>
    <%= model["Date"] %>
  </time>

  <div class="event-description">
    <%= model["Description"] %>
  </div>
</div>
