<div class="row">
  <div class="quote-container">
    <div class="quote">
      <div class="quote-text">We've arranged a civilization in which most crucial elements profoundly depend on science and technology. We have also arranged things so that almost no one understands science and technology. This is a prescription for disaster. We might get away with it for awhile, but sooner or later this combustible mixture of ignorance and power is going to blow up in our faces.</div>
      <div class="quote-author">Carl Sagan</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <header>
      <h1 class="module-title">
        <%= model.title %>
      </h1>
      <p class="module-description">
        <%= model.description %>
      </p>
    </header>

    <figure>

    </figure>


  </div>
</div>
