<div class="quote-container">
  <div class="quote">
    <div class="quote-text">We've arranged a civilization in which most crucial elements profoundly depend on science and technology. We have also arranged things so that almost no one understands science and technology. This is a prescription for disaster. We might get away with it for awhile, but sooner or later this combustible mixture of ignorance and power is going to blow up in our faces.</div>
    <div class="quote-author">Carl Sagan</div>
  </div>
</div>

<div class="col-md-6 col-sm-9 col-xs-12">
  <header>
    <h1>
      Module Title
    </h1>
    <p>
    At the top of the scuttle or mug is a soap holder. Traditionally, it was used with a hard block of shaving soap (rather than soft soap or cream) and therefore had drain holes at the bottom. Later scuttles and mugs do not include the holes, and thus can be used with creams and soft soaps. Some scuttles and mugs have concentric circles on the bottom, which retain some water thus helping to build lather.
    </p>
  </header>
</div>
