@charset "UTF-8";

@black: #161616;
@navy: #05557f;
@yellow: #f1c40f;
@gray: rgb(200,200,200);
@dark-gray: rgb(80,80,80);
@light-gray: rgb(240,240,240);
@selection: rgb(252, 239, 23);
@background-divide: rgb(85, 85, 85);
@border-divide: rgb(60, 60, 60);
@orange: rgb(229, 86, 28);

@max-width: 600px;
@min-height: 600px;

@quote-width: 600px;
@section-padding: 40px;
@timeline-vertical-padding: 50px;

@dot-radius: 10px;



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato/Lato-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato/Lato-Bold.ttf') format('truetype');
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: @black;
}

h1 {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.3em;
}

p {
  max-width: @max-width;
}

header {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  color: @navy;
  cursor: pointer;
}

a:hover {
  color: @navy;
}

.intro {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .unhcr-logo {
    margin: 30px auto;
  }
}

.absolute-center {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: @max-width;
  margin: 0 auto;
}

.unhcr-logo {
  background-image: url('/images/logo.png');
  background-size: 60px 60px;
  background-position: center;
  width: 60px;
  height: 60px;
}

.intro-text {
  top: 200px;
  .absolute-center();
  color: white;
}

.quote-container {
  margin-left: -@section-padding;
  margin-right: -@section-padding;
  background-color: @yellow;

  .quote {
    width: @quote-width;
    margin: 0 auto;
    padding: 90px 0;
  }
}

.timeline {
  background-color: @black;
  padding-top: @timeline-vertical-padding;
  padding-bottom: @timeline-vertical-padding;
}

.timeline-divider {
  border-left: 1px solid white;
  position: absolute;
  top: @timeline-vertical-padding;
  bottom: @timeline-vertical-padding;
  width: 1px;
  left: 50%;
}

.divider-orange {
  border-top: @orange 1px solid;
}

.event {
  color: white;

  .divider-orange {
    width: 50px;
    margin: 12px 0;
  }

  .event-description {
    font-weight: 300;
  }
  .even {
    padding-right: 50px;

    .event-inner {
      float: right;
    }
  }
  .odd {
    padding-left: 50px;
    .event-inner {
      float: left;
    }
  }

  .event-content {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
  }

  time {
    font-weight: 300;
  }

  .event-inner {
    max-width: 500px;
  }

}

@media (max-width: 768px) {
  .event {

    .odd, .even {
      padding-left: 0px;
      padding-right: 0px;
      .event-inner {
        margin: 0 auto;
        float: none;
      }
    }
  }

}

section {
  padding: 0 @section-padding;
  min-height: @min-height;
  position: relative;
}

.dot {
  background-color: black;
  width: 2 * @dot-radius;
  height: 2 * @dot-radius;
  border-radius: 2 * @dot-radius;
  margin: 0 auto
}

thead {
  td {
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }
}

.indicator {
  text-align: center;
  h3 {
    font-weight: 300;
  }
}

.axis line {
}

.axis text {
  font-size: 11px;
}

.axis path {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
  stroke-dasharray: 3;
}


